* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: all 0.5s ease;
}

h1,
h2,
h3 {
  text-shadow: 0px 0px 10px black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 5px;
  font-weight: 100;
}

h3 {
  color: black;
  font-weight: lighter;
  text-shadow: none;
}

#wrapper-menu {
  display: flex;
  background-color: #cb9991;
  padding: 10px;
  justify-content: right;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  box-shadow: 0px 0px 14px rgb(46, 46, 46);
}

.wrapper-menu a {
  margin-right: 15px;
  display: block;
}

#wrapper-menu a:hover {
  transition: 0.3s;
  color: white;
}

.wrapper-header-image {
  margin: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.header-image {
  filter: blur(6px);
}

.header-image img {
  width: 100vw;
  height: auto;
  scale: 1.1;
}

.wrapper-logo-image {
  position: absolute;
  z-index: 2;
}

.logo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.logo-image img:hover {
  width: 18vw;
  transition: 0.8s;
}

.logo-image img {
  width: 15vw;
  height: auto;
  transition: all 0.5s ease;
}

.description-text {
  margin: 0px auto;
  width: 550px;
  padding: 180px 0px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 300px;
  border: solid 1px black;
  margin-bottom: 180px;
  overflow: hidden;
  position: relative;
  filter: grayscale(0.7);
  transition: all 0.5s ease;
}

.card img {
  width: 100%;
  filter: blur(6px);
  scale: 1.1;
  transition: all 0.3s;
}

.card:hover {
  transition: 0.5s;
  filter: grayscale(0);
}

.card:hover img {
  filter: blur(0px);
}

.card-content {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content p {
  font-size: 19px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-shadow: 0px 0px 10px black;
}

footer {
  background-color: #cb9991;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 10px;
  transition: all 0.5s ease;
}

footer img {
  width: 80px;
}

footer a:hover {
  transition: 0.3s;
  color: white;
}
